<% layout('layouts/boilerplate') %>
    <div class="row mb-5">
        <div class="col-md-6">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% property.images.forEach((img, i)=> {%>
                        <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                            <img src="<%=img.url%>" class="d-block w-100" alt="">
                        </div>
                        <% }) %>
                </div>
                <% if (property.images.length> 1) {%>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
            </div>
            <div class="card mc-3">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= property.title %>
                    </h4>
                    <p class="card-text">
                        <%= property.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= property.location %>
                    </li>
                    <li class="list-group-item">Submitted by <strong><%= property.author.username %></strong>
                    </li>
                    <li class="list-group-item">Purchase Price: $<%= property.price %>
                    </li>
                    <li class="list-group-item">Property Revenue: $<%= property.revenue %>
                    </li>
                    <li class="list-group-item" id="capRate"> Cap Rate: <%= property.capRate50 %>%
                    </li>
                    
                </ul>
                <% if (currentUser && property.author.equals(currentUser._id)) {%>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="d-grid">
                                    <a href="/properties/<%=property._id%>/edit" class="card-link btn btn-dark">Edit</a>
                                </div>
                            </div>
                            <div class="col-6">
                                <form action="/properties/<%=property._id%>?_method=DELETE" class="d-inline"
                                    method="POST">
                                    <div class="d-grid">
                                        <button class="btn btn-danger">Delete</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <div class="card-footer text-muted">
                            3 days ago
                        </div>
            </div>
        </div>

        <div class="col-md-6">
            <div id="map" class="map mt-3 mt-md-0"></div>
            <% if(currentUser) {%>
                <h4 class="mt-4 mt-md-2">Leave your analysis for this deal:</h4>
                <form action="/properties/<%=property._id%>/helps" method="POST" class="mb-3 need-validated" novalidate>
                    <!-- <div class="mb-3">
                        <label for="rating" class="form-label">Is this a good deal?</label>
                        <input class="form-range" type="range" min="1" max="5" name="help[rating]" id="rating">
                    </div> -->
                    <p>How good/bad is this deal?</p>
                    <fieldset class="starability-checkmark mt-n2">
                        <input type="radio" id="no-rate" class="input-no-rate" name="help[rating]" value="0" 
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="help[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="help[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="help[rating]" value="3" checked/>
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="help[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="help[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                    <div class="mb-3 mt-n3">
                        <label for="body" class="form-label">Write your comment below:</label>
                        <textarea class="form-control" name="help[body]" id="body" cols="30" rows="10"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-success">Submit</button>
                    </div>
                </form>
                <% } %>
        </div>
    </div>
    <div class="row mt-n5 mt-md-0">
        <div class="col">
            <% if (property.helps.length) {%> 
            <h2>Please see comments below:</h2>
            <% } %> 
            <% for (let help of property.helps) {%>
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="starability-result" data-rating="<%= help.rating %>"></p>
                        <h6 class="card-subtitle mb-2 text-muted">By <%= help.author.username %>
                        </h6>
                        <p class="card-text">Comment: <%= help.body %>
                        </p>
                        <% if (currentUser && help.author.equals(currentUser._id)) {%>
                            <form action="/properties/<%=property._id%>/helps/<%=help._id%>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                            <% } %>
                    </div>
                </div>
                <% } %>
        </div>
    </div>

    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
        const property = <%- JSON.stringify(property) %>
    </script>

    <script src="/javascripts/show-map.js"></script>
    <script src="/javascripts/calculations.js"></script>
